<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
<h1>Редактировать пост</h1>
<form th:action="@{/posts/{id}/edit(id=${postId})}" th:object="${postCreateDto}" method="post" class="col-md-6">
    <div class="mb-3">
        <label class="form-label">Заголовок</label>
        <input type="text" th:field="*{title}" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Содержимое</label>
        <textarea th:field="*{content}" class="form-control" rows="5" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
    </div>
    <button type="submit" class="btn btn-success">Обновить</button>
    <a th:href="@{/posts/{id}(id=${postId})}" class="btn btn-secondary">Отмена</a>
</form>
</body>
</html>